
/* gold- color: rgb(254,209,0);

*/

/*#region Heading, Footer, and Background*/
header {
    border: 1px solid black;
    background-image: url(/images/images.jfif);
    margin: 0;
}
footer {
    border: 1px solid black;
    background-image: url(/images/images.jfif);
    bottom: 0;
}

#footer p {
    background-color: none;
    color: rgb(254,209,0);
}

body {
    background-image: url('../images/Putting-on-Bermuda-Greens.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    
}

header img {
    padding: 10px 10px 0px 10px;
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 50px;
    display: inline-block;
    margin: 0;
    color: rgb(254,209,0);
}

.slogan {
    margin: 0;
    font-style: italic;
    color: rgb(254,209,0);
}
/*#endregion*/

/*#region navBar*/
nav {
    margin: 0;
    border: 1px solid black;
    background-color: rgb(60,160,6);
    opacity:.4;
}

.navBar li {
    display: inline;
    border: 1px solid black;
    margin: 10px;
    text-align: left;
    background-color: rgb(254,209,0);
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.navBar li  a {
    text-decoration: none;
    color:black;
    font-weight: bolder;

}

    .navBar li a:hover {
        border: 3px solid rgb(254,209,0);
        letter-spacing: .1em;
    }

/*#endregion*/

/*#region Contact Page*/

.infoTitle {
    text-align: center;
    color: black;
    font-size: 55px;
    font-weight: bold;
    
}

.contactInfo a {
    text-decoration: none;
    color: rgb(254,209,0);
    
}


.contactInfo {
  text-align:center;
}

.contactTitle {
    justify-content: center;
    text-align: center;
    color: rgb(94,54,33);
    font-size: 36px;
}

.contactInfo section {
    display: inline-block;
    border: 1px solid brown;
    justify-content: center;
    text-align: center;
    width: 30%;
    font-size: 26px;
    background-image: url(/images/images.jfif);
    border-radius: 5px;
}
/*#endregion*/

.indexMain p {
    width: 30%;
}

main p {
    display: inline-block;
    background-color:white;
    opacity: .5; 
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    
    
}

.about h2 {
    color: rgb(254,209,0);
    text-decoration: underline;
}

/*#region index*/

.about {
    width: 60%;
    display:inline-block;
    float: right;
    margin: 0;

}
.about p{
    width: 75%;
}

.imageContainer img {
    margin: 20px 0px 20px 175px;
}
.bottomArticle h3 {
    display: inline-block;
    left:100px;
}



/*#endregion*/

.linkColumn {
    margin: 0;
    width: 15%;
    border-left: 3px solid brown;
    border-top: 3px solid brown;
    border-bottom: 3px solid brown;
    float: right;
    background-image: url(/images/images.jfif);
    height: 400px;
    
    
}
    .linkColumn a {
        text-decoration: none;
        color: rgb(254,209,0);
        font-size: 26px;
    }

.leadershipTitle h2 {
    text-align: center;
    color: rgb(254,209,0);
    font-size: 36px;
}

.leadershipTitle {
    width: 80%;
} 

#classesGallery h1 {
    font-size: 40px;
    color: rgb(254,209,0);
    text-align: center;
    margin:0;
}

div.galleryItem {
    width: 26%;
    display: inline-block;
    background-image: url(/images/images.jfif);
    overflow: hidden;
    margin: 20px;
    border: solid brown 2px;
    color: rgb(254,209,0);
}

div.galleryItem img {
    width: 100%;
    height: 500px;
}

.mainClasses {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.staffInfo {
    display: flex;
}

table, tr, th, td {
    border: 2px solid brown;
    color: rgb(254,209,0);
}

table {
    text-align: center;
    margin:auto;
    background-image:url(/images/images.jfif);
}

.classHeading {
    display: inline-block;
    background-image: url(/images/images.jfif);
    width: inherit;
    border: 1px solid brown;
    border-radius: 10px;
    color: rgb(254,209,0);
    font-size: 24px;
    margin: 15px;
    padding: 5px;
}

.classHeading h1 {
    margin: 0;
}

.bottomArticle p {
    margin:0;
    display: inline-block;
}

.bottomArticle img {
   
}

.topArticle {
   
}

.topArticle p {
   
    margin: 0;
    display:inline-block;
    
}

.articleSection h3 {
    margin: 0;
    color: rgb(254,209,0);
    display: inline-flex;
   
}

.articleSection img {
    height: 291.44px;
    width: 350px;

}

.sidenav {
    background-color: rgb(29,66,0);
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 100px;
    z-index: 3;
    position: fixed;
    opacity: .9;
}
.close-btn {
    position: absolute;
    top: 10px;
    right:10px;
    font-size: 2.5em;


}


.sidenav a {
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    color: rgb(254,209,0);
    padding: 8px 8px 8px 8px;
    margin: 10px 0px;
}

.sidenav a:hover {
    background-color: white;
    color: black;
}

.button {
    background-color: rgb(29,66,0);
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    z-index: 3;
    position: fixed;
    opacity: .9;
    cursor: crosshair;
}

.vertical-text {
    position: absolute;
    writing-mode: vertical-rl;
    font-size: 1.5em;
    top: 40%;
    color: rgb(254,209,0);
    font-weight: bold;
}